/* Apply this styling to entire webpage */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Apply below styling to entire header element */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #b87243d8;
    color: honeydew;
    text-align: center;
    display: block;
}

/* Style the title of the webpage*/ 
header h1 {
    font-size: 48px;
}

/* Style the navigation links below the header */ 
nav {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    padding: 10px;
    color: honeydew;
}

/* Remove any marker from the list items */ 
nav ul {
    list-style-type: none;
}

/* Display list items within header inline */
nav ul li {
    display: inline-block;
}

figure {
    height: 800px;
    width: 100%;
    background-image: url("../images/cityscape.jpg");
    background-size: cover;
    background-position: center;
    border-bottom: black 10px solid;
    border-top: black 10px solid;
}

.About {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #76b9db;
    padding: 50px;
    border-bottom: black 10px solid;
}

.Avatar {
    filter: grayscale(50%);
    border-radius: 50%;
    padding: 10px;
    flex-basis: 25%;
}

.Bio {
    font-size: 20px;
    padding-left: 20px;
    color: honeydew;
}

.Bio h2 {
    text-align: center;
}

.Bio p {
    text-indent: 25px;
}

.Work-Header {
    text-align: center;
    display: block;
    padding: 25px;
    font-size: 36px;
    font-stretch: semi-expanded;
}

/* Set My Work section as a flex container and style the project cards */
.Work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: honeydew;
    color: #76b9db;
}

.Projects {
    flex-basis: 30%;
    border: black 5px solid;
    text-align: center;
    position: relative;
}

#First {
    flex-basis: 100%;
    justify-content: center;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

.Contact {
    text-align: center;
    font-size: 36px;
    background-color: #76b9db;
}

.Contact h2 {
    font-size: 36px;
    padding: 25px;
    color: honeydew;
}

.Contact ul {
    list-style-type: none;
}

.Contact li {
    display: inline-block;
    padding: 25px;
}

.Contact li a {
    text-decoration: none;
    color: honeydew;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Larger mobile screens force all projects into two columns */
@media screen and (max-width: 992px) {
    .Projects {
        flex-basis: 50%;
    }
  }
  
  /* Smaller screens force all projects into a single column */
  @media screen and (max-width: 768px) {
    .Projects {
        flex-basis: 100%;
    }
  }